
body{
    margin: 0;
    text-align: center;
    font-family: cursive;
    font-family: 'Merriweather Sans', sans-serif;
}
h1{
    font-size:50px;
    margin-top: 0;
    line-height: 1.5;
    font-family: 'Sacramento', cursive;
}
h2{
    line-height: 1.5;
    font-family: 'Montserrat', sans-serif;
}
h3{
    line-height: 1.5;
    font-family: 'Montserrat', sans-serif;
}
hr{
    border: dotted #E9B384;
    border-bottom: none;
    width: 30%;
}
p{
    font-size: 20px;
    margin: 0;
} 
.first{
    /* width: 100%; */
    position: relative;
    background-color: #7C9D96;
    padding: 100px;
}
.middle{
    /* margin: 100px 0; */
    /* width: 100%; */
    /* height: 200px; */
    background-color:#F4F2DE;
    padding: 5%;
}
.bottom{
    /* margin: 100px 0; */
    /* width: 100%; */
    /* height: 200px; */
    background-color:#E9B384;
    padding: 10%;
}

.upper-cloud{
    position:absolute;
    right: 300px;
    top: 50px;
}

.bottom-cloud{
    position: absolute;
    left: 300px;
    bottom: 400px;
}
